body {
  background-color: #ffe0bd;
}

h1 {
    color: #505050;/*文字色*/
    padding: 0.5em;/*文字周りの余白*/
    display: inline-block;/*おまじない*/
    line-height: 1.3;/*行高*/
    background: #dbebf8;/*背景色*/
    vertical-align: middle;
    border-radius: 100px 0px 0px 100px;/*左側の角を丸く*/
  }
  
  h1:before {
    content: '';
    color: rgb(0, 0, 0);
    margin-right: 8px;
  }

.gnavi__wrap {
  width: 1200px;
  margin: 0 auto;
}
.gnavi__lists {
  display: flex;
}
.gnavi__list {
  width: 20%;
  height: 60px;
  background-color: #E5F0F8;
  position: relative;
  transition: all .3s;
}
  .gnavi__list:hover {
    background-color: #c2daeb;
  }
  .gnavi__list:not(:first-child)::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s;
  }
  .gnavi__list:hover::before {
    background-color: #0071BB;
  }
  .gnavi__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1b4059;
    font-size: 17px;
    letter-spacing: 0.05em;
    font-weight: 600;
    transition: all .3s;
  }
  .gnavi__list:hover a {
    color: #fff;
  }

  .dropdown__lists {
  display: none;/*デフォルトでは非表示の状態にしておく*/
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  }
  .gnavi__list:hover .dropdown__lists {
  display: block;/*Gナビメニューにホバーしたら表示*/
  }
  .dropdown__list {
  background-color: #3492d1;
  height: 60px;
  transition: all .3s;
  position: relative;
  }
  .dropdown__list:not(:first-child)::before{
  content: "";
  width: 100%;
  height: 0px;
  background-color: #01233a;
  position: absolute;
  top: 0;
  left: 100%;
  }
  .dropdown__list:hover {
  background-color: #01233a;
  }
  .dropdown__list a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  }
  .dropdown__list a::before {
  content: '';
  display: none;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  position: absolute;
  right: 15px;
  top: calc(50% - 5px);
  }